@model List<Utility.Shared.ProductDto>

@{
    ViewData["Title"] = "Products";
}

<h2>Products</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>List Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.Name</td>
                <td>@product.ListPrice?.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>


@* @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 *@